Repository ROCm/TheRock, pull requests merged in 2025-04, with the labels that each got.

#306 Add proper flags for error check in shell script
  external-builds/pytorch/smoke-tests/run_smoke_tests.sh
Labels: CICD

#322 Add notes on how to change submodule branches.
  docs/development/git_chores.md
Labels: documentation

#310 Refactor CI/CD workflows to support a matrix of targets
  .github/workflows/build_linux_packages.yml
  .github/workflows/build_windows_packages.yml
  .github/workflows/ci.yml
  .github/workflows/setup.yml
  .github/workflows/test_blas.yml
  .github/workflows/test_linux_packages.yml
  .github/workflows/test_sanity_check.yml
  build_tools/configure_ci.py
  build_tools/configure_ci_test.py
Labels: CICD, gfx94X-linux

#340 Fix CMAKE_INSTALL_PREFIX init behavior on Win32.
  patches/amd-mainline/hipFFT/0001-PYTHON3_EXE-should-be-Python3_EXECUTABLE.-Either-way.patch
  patches/amd-mainline/hipFFT/0002-Fix-CMAKE_INSTALL_PREFIX-init-behavior-on-Win32.patch
  patches/amd-mainline/hipSOLVER/0001-Work-around-race-condition.patch
  patches/amd-mainline/hipSOLVER/0002-Install-hipsolver_client.so.patch
  patches/amd-mainline/hipSOLVER/0003-Fix-CMAKE_INSTALL_PREFIX-init-behavior-on-Win32.patch
  patches/amd-mainline/hipSPARSE/0001-Fix-CMAKE_INSTALL_PREFIX-init-behavior-on-Win32.patch
  patches/amd-mainline/rocFFT/0001-Use-build-RPATH-correctly.patch
  patches/amd-mainline/rocFFT/0002-Use-proper-casing-for-hip-and-hiprtc-packages.patch
  patches/amd-mainline/rocFFT/0003-Use-Python3_Executable-from-FindPython3-not-custom-P.patch
  patches/amd-mainline/rocFFT/0004-Fix-CMAKE_INSTALL_PREFIX-init-behavior-on-Win32.patch
  patches/amd-mainline/rocSOLVER/0001-Fix-CMAKE_INSTALL_PREFIX-init-behavior-on-Win32.patch
  patches/amd-mainline/rocSPARSE/0001-Drop-setting-library-directory-and-rpath.patch
  patches/amd-mainline/rocSPARSE/0002-Fix-CMAKE_INSTALL_PREFIX-init-behavior-on-Win32.patch
Labels: upstream-cleanup

#338 Create index files and logs for each GPU family
  .github/workflows/build_linux_packages.yml
Labels: gfx110X-linux

#363 Adding visibility to labels
  .github/workflows/ci.yml
  .github/workflows/setup.yml
  build_tools/configure_ci.py
  build_tools/configure_ci_test.py
Labels: gfx94X-linux

#396 Add RFC for BLAS build improvements
  .pre-commit-config.yaml
  docs/rfcs/README.md
  docs/rfcs/RFC0001-BLAS-Stack-Build-Improvements.md
Labels: documentation

#420 Adding gfx120X target
  .github/workflows/test_rocprim.yml
  build_tools/github_action/amdgpu_family_matrix.py
  dockerfiles/cpubuilder/install_awscli.sh
Labels: gfx120X-linux
