Repository ROCm/TheRock, pull requests merged in 2025-07, with the labels that each got.

#946 [ci] - Adding RAND tests
  build_tools/github_actions/fetch_test_configurations.py
  build_tools/github_actions/test_executable_scripts/test_hiprand.py
  build_tools/github_actions/test_executable_scripts/test_rocrand.py
  math-libs/CMakeLists.txt
  math-libs/artifact-rand.toml
Labels: gfx115X-windows

#783 [windows] Patch TENSILE_LIBRARY_DIR in hipBLASLt.
  build_tools/github_actions/fetch_test_configurations.py
  math-libs/BLAS/artifact-blas.toml
  patches/amd-mainline/hipBLASLt/0001-Switch-HIPBLASLT_TENSILE_LIBRARY_DIR-on-Windows.patch
Labels: gfx115X-windows

#1001 [ci] - Enabling gfx950 tests
  build_tools/github_actions/amdgpu_family_matrix.py
  tests/test_rocm_sanity.py
Labels: gfx115X-windows, gfx950-linux

#1018 [ci] - Adding RCCL tests
  build_tools/github_actions/fetch_test_configurations.py
  build_tools/github_actions/test_executable_scripts/test_rccl.py
Labels: gfx950-linux

#1076 [ci] - Enable mi355 test machine
  build_tools/github_actions/amdgpu_family_matrix.py
Labels: gfx950-linux
