Repository ROCm/TheRock, pull requests merged in 2025-03, with the labels that each got.

#179 Iterate on build system developer documentation.
  docs/development/README.md
  docs/development/build_system.md
  docs/development/dependencies.md
Labels: documentation

#183 Add initial contributor guidelines and current status of project
  CONTRIBUTING.md
  README.md
Labels: documentation

#201 Set release tag and name from workflow inputs.
  .github/workflows/portable_linux_package_matrix.yml
Labels: CICD

#215 Add smoke tests and README with disclaimer
  external-builds/pytorch/smoke-tests/README.md
  external-builds/pytorch/smoke-tests/pytorch_smoke_tests.py
Labels: CICD

#185 Add Docker image verification
  .github/workflows/verify_docker_image.yml
  external-builds/pytorch/smoke-tests/run_smoke_tests.sh
Labels: CICD

#316 Drop rocprofiler-register on Windows.
  base/CMakeLists.txt
  patches/amd-mainline/rocprofiler-register/0001-Minimally-working-Windows-MSVC-build.patch
Labels: upstream-cleanup
