Repository ROCm/TheRock, pull requests merged in 2025-05, with the labels that each got.

#611 Adding workflow compability for Linux and Windows
  .github/actions/setup_test_environment/action.yml
  .github/workflows/ci.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_windows.yml
  .github/workflows/test_hipblaslt.yml
  .github/workflows/test_hipcub.yml
  .github/workflows/test_packages.yml
  .github/workflows/test_rocblas.yml
  .github/workflows/test_rocprim.yml
  .github/workflows/test_rocthrust.yml
  .github/workflows/test_sanity_check.yml
  build_tools/fetch_artifacts.py
  build_tools/github_action/amdgpu_family_matrix.py
  build_tools/install_rocm_from_artifacts.py
  tests/test_rocm_sanity.py
Labels: gfx115X-windows

#643 Refresh Windows support documentation.
  README.md
  docs/development/windows_support.md
Labels: documentation

#671 [windows] Enable hipcub test.
  .github/workflows/test_hipcub.yml
Labels: CICD
